<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 通过这个配置文件完成mybatis与数据库的对应 -->
<configuration>
	<typeAliases>
		<!-- MyBatis对应的配置文件包路径 -->
		<package name="com.wxkj.kd.entity"/>
	</typeAliases>
</configuration>

